
.p-menu1 {
    display: inline-flex;
    background-color: black;
    height: 145px;
    width: 100%;
}
.p-menu1 a {
    margin-left: 50px;
    position: relative; right: 150px;
}
.p-menu1 img {
    margin-top: -30px;
    height: 250px;
    margin-left: -30px;
}
.nav-link {
    color: white;
}
.nav {
   position: relative; left: 350px;
   position: relative; top: 100px;
}
.nav2 h1 {
    padding: 100px;
    font-size:xx-large;
}
.hero {
    background-image: url("../images/Hero\ Image.png");
    height: 900px;
    margin-top: -85px;
    background-repeat:no-repeat;
    background-size:cover;
    justify-content: center;
}
.hero p {
position: relative; top: 50%;
text-align: center;
}
.btn {
    position: relative; left: 47%;
    position: relative; top: 55%;
}
.zipEnter{
    position: relative; left: 43%;
    margin-top: 40%;
}
html body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.nav2 {
    padding: 10px;
    background-color: #336635;
    padding-bottom: 40px;
}
.nav2 h2 {
    position: relative; left: 580px;
    color: white;
}
.hcard {
    background-color: #336635;
    border: hidden;
    color: white;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
}
.hcard img {
    height: 300px;
}
.footer img {
    height: 250px;
    margin-left: -30px;
    margin-top: -30px;
}
.footer {
    background-color: black;
    height: 150px;
    overflow-y: hidden;
    display: inline-block;
    width: 100%;
}
#topImage{
    background-image:radial-gradient(#039B47,#0D3611,#062C2C);
    height:100vh;
    width:100%;
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    justify-content:space-around;
}
.mapcontainer{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.customnav{
    background-color:#040404 !important;

}
.customnav a{
    color:white !important;
}
.customnav img{
    width:40%;
}
.customnav ul{
    margin:0 auto;
}
.locationcardscont{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    margin-left:1%;
    margin-top:1%;
    max-height:1500px;
    overflow-y:scroll;
}
.locationcardscont::-webkit-scrollbar-track{
    padding: 2px 0;
    background-color:white;
    margin:1%;
}
.locationcardscont::-webkit-scrollbar{
    width:10px;
    margin:1%;
}
.locationcardscont::-webkit-scrollbar-thumb{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #dddada;
    margin:1%;
  }
.locationcards{
    justify-content:center;
    align-items:center;
}
.locationcards a{
    color:black;
}
.topHalf {
    display: inline-flex;
    margin-left: 3%;
}
#top {
    width: 30%;
    position: relative; left: 20%;
}
.bottomHalf {
    display: inline-flex;
    margin-left: 3%;
}
#bottom {
    width: 30%;
    height: 30%;
}