
.p-menu1 {
    display: inline-flex;
    background-color: black;
    height: 145px;
    width: 100%;
}
.p-menu1 a {
    margin-left: 50px;
    position: relative; right: 150px;
}
.p-menu1 img {
    margin-top: -30px;
    height: 250px;
    margin-left: -30px;
}
.nav-link {
    color: white;
}
.nav {
   position: relative; left: 350px;
   position: relative; top: 100px;
}
.nav2 h1 {
    padding: 100px;
    font-size:xx-large;
}
.hero {
    background-image: url("../images/Hero\ Image.png");
    height: 900px;
    margin-top: -85px;
    background-repeat:no-repeat;
    background-size:cover;
}
.form-inline {
    position: relative; left: 600px;
    position: relative; top: 550px;
    width: 400px;
}
.btn{
    position: relative; left: 670px;
    position: relative; top: 600px;
    background-color: #04B900;
    width: 100px;
}
.hero p {
    position: relative; top: 500px;
    text-align: center;
    position: relative; left: 40px;
    font-size: x-large;
}

html body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.nav2 {
    padding: 10px;
    background-color: #336635;
    padding-bottom: 40px;
}
.nav2 h2 {
    position: relative; left: 580px;
    color: white;
}
.hcard {
    background-color: #336635;
    border: hidden;
    color: white;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
}
.hcard img {
    height: 300px;
}
<<<<<<< HEAD
.footer img {
    height: 250px;
    margin-left: -30px;
    margin-top: -30px;
}
.footer {
    background-color: black;
    height: 150px;
    overflow-y: hidden;
    display: inline-block;
    width: 100%;
=======
#topImage{
    background:url(../images/zip\ code\ map\ screen\ background\ photo.png);
    height:100vh;
    width:100%;
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    justify-content:space-around;
}
.mapcontainer{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.customnav{
    background-color:#040404 !important;

}
.customnav a{
    color:white !important;
}
.customnav img{
    width:40%;
}
.customnav ul{
    margin:0 auto;
}
.locationcardscont{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    margin-left:1%;
>>>>>>> c6de999d38fa6796b6ba2fb87f80a07788bd2ed0
}
.locationcards{
    justify-content:center;
}
